<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    justify-content: center;
    align-items: center;
    height: 100vh;
=======
/* authentication_setup.css */


*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color:#67C6E3;
    color: #333;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 20%;

>>>>>>> 82656c606da72bb3beed5af550667ce76c420839
}

.container {
    background: #fff;
<<<<<<< HEAD
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 100%;
=======
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 4% 20%;
    max-width: 70%;
    
>>>>>>> 82656c606da72bb3beed5af550667ce76c420839
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #1255c5;
<<<<<<< HEAD
=======
    

>>>>>>> 82656c606da72bb3beed5af550667ce76c420839
}

p {
    margin-bottom: 20px;
}

<<<<<<< HEAD
#qrcode {
    margin: 20px 45%;
    align-items: center;
=======
img {
    margin-bottom: 20px;
    width: 100%;
    max-width: 200px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
>>>>>>> 82656c606da72bb3beed5af550667ce76c420839
}

button {
    background-color: #1255c5;
    color: #ffffff;
<<<<<<< HEAD
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
=======
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
>>>>>>> 82656c606da72bb3beed5af550667ce76c420839
}

button:hover {
    background-color: #378ce7;
<<<<<<< HEAD
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    background-color: #f9f9f9;
}

button.copy-button {
    background-color: #ff5e57;
    margin-left: 10px;
}

button.copy-button:hover {
    background-color: #ff3b30;
=======
    color: #ffffff;

>>>>>>> 82656c606da72bb3beed5af550667ce76c420839
}
