body {
        font-family: 'Inter', sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 20px auto;
        background-color: #dff5ff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    }

    label {
        display: block;
        margin-bottom: 5px;
        color: #000000;
    }

    input {
        width: calc(100% - 16px);
        padding: 12px;
        margin-bottom: 15px;
        border: 1px solid #F0F6FC;
        border-radius: 8px;
        box-sizing: border-box;
        font-size: 16px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    input:focus {
        outline: none;
        border-color: #1F6FFF;
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    }

    button {
        background-color: #67C6E3;
        padding: 14px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
        transition: all 0.3s ease;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    button:hover {
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    }

    table {
        width: 100%;
        margin-top: 20px;
        border-radius: 10px;
        overflow: hidden;
    }

    th,
    td {
        border-radius: 2px;
        padding: 14px;
        text-align: left;
        background-color: #ffffff;
        color: black;
    }

    th {
        background-color: #67C6E3;
        color: black;
        box-shadow: none;
    }

    footer {
        background-color: #1F6FFF;
        color: #F0F6FC;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
        border-top: 2px solid #1F6FFF;
    }

    .hr {
        background-color: white;
    }