/* Common body styling */
*{
    margin: 0px;
    /* padding: 0px; */
}
body {
    background-color: #ffffff; /* Consistent background color */
    color: rgb(0, 0, 0); /* Light text color */
    font-family: 'Inter', sans-serif; /* Consistent font */
    margin: 0px;
    /* padding: 0px; */
}



/* Form styling for the settings page */
form {
    background-color: #DFF5FF; /* Dark background for consistency */    
    width: 60%; /* Set a specific width */
    text-align: left; /* Left-align the content */
    margin-left: 230px;
    margin-top: 15px;
}

/* Form group styling */
.form-group {
    margin-bottom: 20px; /* Space between form groups */
}

/* Label styling */
label {
    font-size: 16px; /* Consistent font size */
    color: rgb(0, 0, 0); /* Light text color */
    font-weight: 600; /* Bold text */
}

/* Input styling */
input {
    padding: 10px; /* Padding for comfort */
    font-size: 14px; /* Consistent font size */
    /* border: 1px solid #ccc;  */
    /* border-radius: 5px; */
    background-color: #ffffff; /* Background color */
    color: rgb(0, 0, 0); /* Light text color */
}

/* Button styling */
button {
    padding: 10px 20px; /* Padding for comfort */
    background-color: #378CE7; /* Consistent background color */
    color: white; /* Light text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s; /* Smooth transition */
}

/* Hover effect for buttons */
button:hover {
    background-color: #3544e5; /* Darker on hover */
}

/* Legend styling for current image info */
p {
    color: #000000; /* Consistent text color */
    font-size: 14px; /* Consistent font size */
    margin: 5px 0; /* Add some margin */
}

/* Transition effects for smooth UI */
.transition {
    transition: all 0.3s ease; /* Smooth transitions for interactive elements */
}
